.StudentInfo{
    
    width:100%;
    height:auto;
  
}
.StudentInfo .container{
    display: flex;
    flex-direction: row;
   margin: 2rem;
   margin-left:3rem ;
   margin-right: 2rem;
}
.StudentInfo .content{
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width:1055px){
    .StudentInfo .content{
     
        width: auto;
    }
   
    .StudentInfo .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .StudentInfo img{
        width: 100%;
    }
} 