
.Recovering{
    width:100%;
    height: 200%;
 }
 .Recovering  .container1{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100vh;
}
.Recovering .leftform{
    width: 50%;
    height:100%;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.formContainer{
    overflow: hidden;
    height: 210px;
}
.forgotPass-container{
    margin-top: 0.5rem;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.Recovering .rightcontent{
    width: 50%;
    height:100%;
    background: -webkit-linear-gradient(90deg, #002f4d, #2f678b);/* Chrome 10-25, Safari 5.1-6 */                      
    background: linear-gradient(90deg, #002f4d, #2f678b);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Recovering .content1{
    width: 70%;
    height:70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Recovering .loginblock{
    width: 550px;
    height: 450px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius:10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#emailPage {
    position: relative;
    transition:1.2s;
    left: 0px;
}
#changePassPage{
    transition:1.2s;
    position: relative;
    bottom: 190px;
    left: 550px;
}
.Recovering .form{
    width: 100%;
    height:70%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Recovering .loginblock {
    width: 489px;
    height: 300px;
    background-color: var(--primary-color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Recovering .inputbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.Recovering .btn{
    border-radius: 20px;
    font-size: 13px;
    width: 400px;
    text-align: center;
    margin-top: 1rem;
    height: 50px;
    font-family:  sans-serif;
    font-weight: 400;
    font-size: 18px; 
}
.Recovering .rightcontent h1{
    color: #fff;
}
.Recovering h1 {
    text-align: center;
    color:  #000;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 700;
    justify-content: start;
    line-height: 40px;
    margin-bottom: 0;
}
.Recovering h3{
    text-align: left;
    color:  initial;
    font-family:  sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
}
.Recovering .input{
    background-color: #ffffff;
    border: 2px solid rgb(231 226 226);
    border-radius: 12px;
    font-size: 13px;
    width: 400px;
    padding:1rem;
    margin-top: 7px;
    height: 50px;
}

